*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style: none;
}
.menu-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  gap: 3.5rem;
}
.menu-nav nav ul li a{
 text-decoration: none;
 align-items: center;
 
}
.botaos{
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.logo img{
  width: 150px;
}
.menu-nav nav ul {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}
.menu-nav nav{
  align-items: center;
}
.menu-nav nav ul li{
  align-items: center;

}
.header {
  position: relative; /* Permite posicionar o conteúdo dentro da seção */
  background-image: url(assets/no-forno.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7%;
  /* Gradiente de sombra para a imagem de fundo */
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}

.mensagem-container {
  position: relative; /* Isso garante que o conteúdo fique acima da sombra */
  z-index: 1; /* Garantir que o texto fique acima da sombra */
  justify-content: center;
  width: 50%;
  text-align: center;
  color: #fff; /* Cor do texto para destacar sobre o fundo */
}
